<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/css/geren.css}" href="/static/css/geren.css">
    <link rel="stylesheet" th:href="@{/static/css/shouye.css}" href="/static/css/shouye.css">
    <script src=""></script>
    <title>我的DLSZ-我的订单</title>
</head>
<body>
    <header>
        <!-- 顶部栏 -->
        <div class="new-navbar">
            <div class="w1200">
                <div class="slogan">文化青年，品质生活~</div>


                <div class="nav-top">
                    <!-- 未登录 -->


                    <!-- 已登录 -->
                    <div id="js-login-out" class="ds-inlineb">
                        <th:block th:if="${username} != null">
                            <div class="nav-items">
                                <a id="js-get-username" class="nav-link no-border-left" th:href="@{'user/myorderlist/'+${username}}" target="_black" th:text="${username}">DLSZ</a>
                            </div>
                            <div class="nav-items">
                                <a class="nav-link c9" href="/logout">退出</a>
                            </div>
                        </th:block>
                        <th:block th:if="${username} == null">
                            <div class="nav-items">
                                <a id="login" class="nav-link no-border-left" th:href="@{/User/login}">登录</a>
                            </div>
                            <div class="nav-items">
                                <a class="nav-link" th:href="@{/User/register}">注册</a>
                            </div>
                        </th:block>
                    </div>
                    <!-- 已登陆END -->


                    <div class="nav-items">
                        <a class="nav-link" href="/User/myorderlist">我的订单</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 头部 -->
        <div class="new-header new-shadow">
            <div class="w1200 content-box">
                <div class="shouye">
                    <a th:href="@{/}">DLSZ</a>
                </div><!-- 
                --><div class="search-box">
                <div class="search-bar">
                    <div class="search-input">
                        <input id="inp" class="js-search" type="text" th:value="${key}">
                    </div><!--
                         --><div class="search-btn" id="sou">
                    <i></i>

                </div>
                    <ul class="search-result" id="cha">
                        <!--<li class="result-items">
                            <a href="#" target="_blank" class="result-link">
                                北京
                                <span class="key-word">小</span>
                                小柯音乐剧“爱情三部曲”之二《等你爱我》
                            </a>
                        </li>-->
                    </ul>
                </div>
                    <div class="hot-search">
                        <ul id="hotWord">
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <main class="w1200 mydlsz">
        <div class="my-menu">
            <h2 class="my-dlsz"><a href="#">我的DLSZ</a></h2>
            <h2 class="my-order"><a href="#">订单中心</a> </h2>
            <ul>
                <!--<li><a class="active" th:href="@{/myorderlist/}"><i></i><b class="arr"></b>我的订单</a></li>-->
                <li><a id="hover" class="noh" href="mycollect.html"><i></i><b class="arr"></b>我的关注</a></li>
            </ul>
            <h2 class="my-profile"><a href="#">账户中心</a> </h2>
            <ul>
                <li><a id="hover" class="noh" href="myprofile.html"><i></i><b class="arr"></b>个人资料</a></li>
            </ul>
            <h2 class="my-note"><a href="#">消息提醒</a> </h2>
        </div>
        <div class="u-warp2014">
            <div class="u-title">
                <h3>我的订单</h3>
                <div class="o-t-tip">
                    <a class="all-order" href="#">全部订单</a>
                    <a href="#">
                        待支付
                        <em class="num">（0）</em>
                    </a>
                    <a href="#">待评价<em class="num">（0）</em></a>
                </div>
            </div>
            <div class="m-order mt20">

            </div>
            <div class="pages">

            </div>
        </div>
    </main>
    <footer>
        <div class="mini_foot">
            <p>Copyright 2018.9 © DLSZ网 Java班 第三小组</p>
        </div>
    </footer>
</body>

<script th:src="@{/static/js/jquery-3.3.1.js}"></script>
<script th:src="@{/static/js/index.js}"></script>
<script>
    var hover = document.getElementsByClassName("noh");
    for(var i =0;i<hover.length;i++){
        hover[i].onmouseover = function(){
            console.log("123")
            this.classList.add("active");
        }
        hover[i].onmouseout = function(){
            this.setAttribute("class","noh")
        }
    }

    var inp = document.getElementById("inp")
    var cha = document.getElementById("cha")

    inp.oninput = function(){
        // console.log($.trim(inp.value).length)
        var condition = $.trim(inp.value)
        if (condition != ""){
            // console.log("asdf")
            cha.classList.add("search-result-active");
            $("#cha").empty();
            $.post("/searchList", {"condition":condition}, function (data, status) {
                if (status === "success" && $.trim(data['status']) === '200') {
                    $.each(data['data'], function (index, value) {
                        $("#cha").append('<li class="result-items"><a href="/ticket/item/'+ value['id'] +'" target="_blank" class="result-link">' + value['cityname'] + '<span class="key-word"> </span>' + value['name'] + '</a></li>')
                    })
                } else {
                    console.log(data['msg']);
                }

            }, "json")
        } else {
            //$("#cha").empty();
            cha.setAttribute("class","search-result")
        }
    }
    cha.onmouseover = function () {
        // console.log("gg")
        cha.classList.add("search-result-active")
    }
    cha.onmouseout = function () {
        cha.setAttribute("class","search-result")
    }
</script>
</html>