<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/geren.css">
    <script src=""></script>
    <title>管理员-修改用户密码</title>
</head>
<body>
    <header>
        <!-- 顶部栏 -->
        <div class="new-navbar">
            <div class="w1200">
                <div class="slogan">文化青年，品质生活~</div>


                <div class="nav-top">
                    <!-- 未登录 -->


                    <!-- 已登录 -->
                    <div id="js-login-out" class="ds-inlineb">
                        <div class="nav-items nav-shang">
                            <span class="c9">你好,</span>
                            <a id="js-get-username" class="nav-link no-border-left shang-left" href="#" target="_black">DLSZ</a>
                            <span class="c9">管理员</span>
                        </div>
                        <div class="nav-items">
                            <a class="nav-link c9" href="denglu.html">退出</a>
                        </div>
                    </div> 
                   
                </div>
            </div>
        </div>
        <!-- 头部 -->
        <div class="new-header new-shadow">
            <div class="w1200">
                <div class="shouye s-shou">
                    <a href="#">DLSZ</a>
                </div>
            </div>
        </div>
    </header>
    <main class="w1200 mydlsz">
        <div class="my-menu">
            <h2 class="my-dlsz"><a href="#">我的DLSZ</a></h2>
            <h2 class="my-yonghu"><a href="#">用户和商家信息</a> </h2>
            <ul>
                <li><a id="hover" class="active" href="g-guanliy.html"><i></i><b class="arr"></b>用户管理</a></li>
                <li><a id="hover" class="noh" href="g-guanlis.html"><i></i><b class="arr"></b>商家管理</a></li>
            </ul>
            <h2 class="my-order"><a href="#">管理票务</a> </h2>
            <ul>
                <li><a id="hover" class="noh" href="g-guanlip.html"><i></i><b class="arr"></b>票务管理</a></li>
                <li><a id="hover" class="noh" href="g-shenhep.html"><i></i><b class="arr"></b>审核票务</a></li>
            </ul>
            <h2 class="my-profile"><a href="#">账户中心</a> </h2>
            <ul>
                <li><a id="hover" class="noh" href="g-shenhep.html"><i></i><b class="arr"></b>个人资料</a></li>
            </ul>
            <h2 class="my-note"><a href="#">消息提醒</a> </h2>
        </div>
        <div class="u-warp2014">
            <div class="u-title">
                <h3>修改用户密码</h3>
                <div class="o-t-tips">
                    输入用户的新密码
                </div>
            </div>
            <div class="note">
                    <div class="si-tabs">
                        <ul class="si-tabUl">
                            <div class="rline"></div>
                            <li class="active">
                                <a href="#">编辑</a>
                            </li>
                            <div class="line"></div>
                        </ul>
                        
                    </div>
                    <div class="si-tab-bd">
                        <div class="myprofile">
                            <div id="tab-box-01" class="EditData">
                                <div class="ed-tipt">
                                    编辑您想修改的信息！
                                </div>
                                <div class="EditData-form">
                                    <div class="edf-tit">
                                        <b class="txt">修改用户密码：</b>
                                    </div>
                                    <form class="" method="post">
                                        <ul>
                                            <li class="clearfix">
                                                <span class="e-name">用户ID：</span>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="nike_name" type="text" maxlength="30">
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <span class="e-name">用户新密码：</span>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="email" type="text" maxlength="30">
                                                </div>
                                            </li>
                                            
                                            <li class="clearfix">
                                                <span class="e-name">确认密码：</span>
                                                <div class="col-md-10">
                                                    <input class="form-control" name="email" type="text" maxlength="30">
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <span class="e-name">&nbsp;</span>
                                                <a href="g-guanliy.html" class="btn save-profile">确认修改</a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="clear"></div>
    </main>
    <footer>
        <div class="mini_foot">
            <p>Copyright 2018.9 © DLSZ网 Java班 第三小组</p>
        </div>
    </footer>
</body>
<script>
    var hover = document.getElementsByClassName("noh");
    for(var i =0;i<hover.length;i++){
        hover[i].onmouseover = function(){
            console.log("123")
            this.classList.add("active");
        }
        hover[i].onmouseout = function(){
            this.setAttribute("class","noh")
        }
    }
    

</script>
</html> 